html {
    scroll-behavior: smooth;
}

body {
    background-color: #222222;
    color: #e4e4e4;
}

.spacer {
    width: 80%;
    margin: auto;
}

#loader {
    display: none;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

/* Navbar */
.nav-background {
    background-color: rgba(0,0,0,0.6);
}

/* Home */
#main {
    color: #e4e4e4;
}
.bannerBackgroundImage {
    width: auto;
    height: 100%;
}

.bannerBackground {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bannerContent {
    padding-top: 4em;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.profileImage {
    width: 60vw;
    border-radius: 5%;
}

.mainIntroText p {
    font-size: 1.8em;
}

.subInroText p {
    font-size: 1.1em;
}

.contactBtnWrapper {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.contactMeBtn {
    text-transform: uppercase;
    border: 2px solid #e4e4e4;
    border-radius: 25px;
    font-weight: bold;
    background-color: #e4e4e4;
    padding-top:0.6em;
    padding-bottom: 0.6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    color: #222222;
}

.contactMeBtn:hover {
    text-decoration: none;
    color: #222222;
    background-color: rgba(255,255,255,0.4);
}

.socialMediaIconsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2em;
}

.socialLinker {
    color: #e4e4e4;
}

.socialLinker i {
    transition: ease-in-out 0.3s; 
}

.socialLinker:hover i{
    text-decoration: none;
    color: #ffffff;
    transform: scale(1.2);
}

.nextSectionArrowLink {
    font-size: 2em;
    animation: scrolling 3s ease infinite;
    color: #e4e4e4;
}

.nextSectionArrowLink:hover {
    text-decoration: none;
    color: #e4e4e4;
}

.nextSectionArrowLink i{
    -webkit-animation: scrolling 3s ease infinite;
    -moz-animation: scrolling 3s ease infinite;
    -o-animation: scrolling 3s ease infinite;
    animation: scrolling 3s ease infinite;
}
@keyframes scrolling {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(0,20px);
  }
    100% {
      transform: translate(0);
    }
}

/* About */
#about {
    background-color: #e4e4e4;
    color: #222222;
}

.section-heading {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.content-text {
    text-align: justify;
    padding-bottom: 0.6em;
}

.followerCount {
    font-weight: bold;
}

/* My Projects */
#repoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#repoList li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.githubLinkText {
    color: #e4e4e4;
    transition: ease-in-out .3s;
}

.githubLinkText:hover {
    text-decoration: none;
    color: #ffffff;
    transform: scale(1.2);
}

.section-subheading {
    font-size: 1.4em;
}

.section-subheading span {
    display: block;
    font-size: .6em;
    color: gray;
}

#repoList li a{
    color: #cccccc;
}

#repoList li a:hover{
    text-decoration: none;
    color: #ffffff;
}
/* Contact */
#contact {
    background-color: #e4e4e4;
    color: #222222;
}

.contact-c {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.form-control:focus {
    border-color: #222222;
    box-shadow: 0 0 0 0.2rem rgba(34, 34, 34, 0.25)
}

.contactOr {
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}

.contactMailMessenger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

.contactMailMessenger a {
    color: #222222;
}

.contactMailMessenger a:hover {
    color: #222222;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 992px) {}